.ui.table thead.sticky tr:first-child > th {
  position: sticky !important;
  top: 0em;
  z-index: 4;
  border-top: 1.5px solid rgb(200, 200, 200);
  height: 3.5em;
}

thead.sticky th.sorted {
  background-color: #f2f2f2 !important;
  height: 4em;
}

table.ui.table {
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-snap-stop: mandatory;
}

.tableContainer {
  height: 100vh;
  max-height: 35em;
  overflow-y: scroll;
  scroll-snap-align: center;
  scroll-snap-type: mandatory;
  scroll-snap-stop: always;
}

.ui.table tbody tr {
  max-height: 4em;
}

.smallRow {
  height: 3.5em;
}

/* table.ui.table {
  scroll-snap-type: mandatory;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
 */
